 .stylecontainer{
  display: flex;
 justify-content: center;
 }
.body {
  background-color: #17181c;
  width: 280px;
  height: 380px;
  margin: 0px 2px 80px 40px;
  border-radius: 10px;
  transition: transform 0.3s ease;
} .body:hover{
  transform: translateY(-20px) ;
  box-shadow: 0 0 30px 5px rgba(152, 218, 217, .25);
}
.p1{
  font-family: 'Didact Gothic', sans-serif;
   position: relative;
   left: 40px;
   width: 200px;
   text-decoration: none;
   color: #98dad9;
}

.p2{
  font-family: 'Didact Gothic', sans-serif;
  position: relative;
  text-decoration: none;
  color: #98dad9;
}
