.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.searchbar{
    display: flexbox;
    position: absolute;
    top: 65px;
    right: 120px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    border-radius: 20px;
    border: solid 0px;
 }