.containerform{
    height: 850px;
    width: 1300px;
    border: solid 3px;
    position: relative;
    top: 40px;
    left: 300px;
    border-radius: 10px;
    background-color: rgba(23, 24, 28, 0.9);
}

.containertop {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 20px;
}

.submitbotton{
    width: 150px;
    height: 60px;
    border-radius: 5px;
    border: none;
    position: relative;
    top: 35px;
    background-color: #ff6d00;
    font-family: 'Staatliches', cursive;
    font-size: 25px;
    cursor: pointer;
}


.name{
   display: inline;
   position: absolute;
   left: 200px;
   top: 150px;
   font-family: 'Staatliches', cursive;
   font-size: 40px;
}

.inputname{
   position: absolute;
   top: 190px;
   left: 450px;
   width: 550px;
   height: 40px;
   font-family: 'Didact Gothic', sans-serif;
   font-size: 25px;
} 
.spanname{
    position: absolute;
    left: 1050px;
    top: 190px ;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}


.releasedate{
    position: absolute;
    display: inline;
    left: 200px;
    top: 250px;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
}

.inputrelease{
    position: absolute;
    top: 290px;
    left: 450px;
    width: 550px;
    height: 40px;
}

.spanrelease{
    position: absolute;
    left: 1050px;
    top: 290px;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}

.rating{
    position: absolute;
    display: inline;
    left: 200px;
    top: 350px;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
}

.inputrating{
    position: absolute;
    top: 390px;
    left: 450px;
    width: 550px;
    height: 40px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 25px;
}
.spanrating {
    position: absolute;
    left: 1050px;
    top: 390px;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}
.description{
    position: absolute;
    display: inline;
    left: 200px;
    top: 450px;
   font-family: 'Staatliches', cursive;
   font-size: 40px;
}
.inputdescription{
    position: absolute;
    top: 490px;
    left: 450px;
    width: 520px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
    padding: 30px 30px;
}

.spandescription{
    position: absolute;
    left: 1000px;
    top: 490px ;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
    color: #FA4753;
}

.button {
  position: absolute;
  left: 100px;
  top: 100px;    
  padding: 20px 50px;
  font-size: 18px;
  font-family: 'Staatliches', cursive;
  background-color: #FA4753;
  cursor: pointer;
}

.titulo {
    color: #3e618b;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
}

.selectgenre{
    position: absolute;
    top: 610px;
    left: 200px;
    height: 40px;
    width: 300px;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    background-color: #ff6d00;
    border: 1px solid #000;
    max-height: 800px;
    cursor: pointer;
}

.selectplatform{
    position: absolute;
    top: 610px;
    left: 800px;
    width: 300px;
    height: 40px;
    font-family: 'Staatliches', cursive;
    font-size: 18px;
    background-color: #ff6d00;
    border: 1px solid #000;
    cursor: pointer;
}

.platform {
    position: absolute;
    top: 580px;
    left: 1110px;
    font-family: 'Staatliches', cursive;
    font-size: 30px;
}

.generos{
    margin: 5px;
    position: absolute;
    top: 650px;
    left: 200px;
}

.buttongenre {
    margin: 20px 5px;
    padding: 5px 5px;
    background-color:#FA4753 ;
}