.container {
  height: 850px;
  width: 1400px;
  border: solid 3px;
  position: relative;
  top: 3vh;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(23, 24, 28, 0.9);
}

 .background_image {
  display: flex;
  position: absolute;
  left: 0px;
  height:550px;
  width: 750px;
  border-radius: 5px;
}

.p{
  position: absolute;
  right: 15%;
  top: 20px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 30px;
  color: #98dad9;
  width: 30%;
  text-align: start;
}

.prelease {
    position: absolute;
    right: 15%;
    top: 16%;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    color: #98dad9;
    width: 30%;
    text-align: start;
}

.prating{
  position: absolute;
    right: 15%;
    top: 220px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    color: #98dad9;
    width: 30%;
    text-align: start;
}

.platforms{
  position: absolute;
  right: 15%;
  top: 290px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 30px;
  color: #98dad9;
  width: 30%;
  text-align: start;
}

.genres{
  position: absolute;
  right: 15%;
  top: 430px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 30px;
  color: #98dad9;
  width: 30%;
  text-align: start;
}

.description {
  position: absolute;
  left: 0px;
  top: 550px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 15px;
  color: #98dad9;
  text-align: start;
}

.buttonback {
  position: absolute;
  left: 5%;
  top: 10%;    
  padding: 20px 50px;
  font-size: 18px;
  font-family: 'Staatliches', cursive;
  background-color: #FA4753;
  cursor: pointer;
}
