.container {
  height: 850px;
  width: 1400px;
  border: solid 3px;
  position: relative;
  top: 40px;
  left: 260px;
  border-radius: 10px;
  background-color: rgba(23, 24, 28, 0.9);
}

 .background_image {
  display: flex;
  position: absolute;
  left: 0px;
  height:550px;
  width: 750px;
  border-radius: 20px;
}

.p{
  position: absolute;
  right: 270px;
  top: 20px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 30px;
  color: #98dad9;
  width: 320px;
}

.prelease {
    position: absolute;
    right: 250px;
    top: 150px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    color: #98dad9;
    width: 380px;
}

.prating{
  position: absolute;
    right: 450px;
    top: 220px;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 30px;
    color: #98dad9;
}

.platforms{
  position: absolute;
  right: 230px;
  top: 290px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 30px;
  color: #98dad9;
  width: 400px;
}

.genres{
  position: absolute;
  right: 230px;
  top: 430px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 30px;
  color: #98dad9;
  width: 400px;
}

.description {
  position: absolute;
  left: 0px;
  top: 550px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 15px;
  color: #98dad9;
  text-align: start;
}

.buttonback {
  position: absolute;
  left: 100px;
  top: 100px;    
  padding: 20px 50px;
  font-size: 18px;
  font-family: 'Staatliches', cursive;
  background-color: #FA4753;
  cursor: pointer;
}

.loading{
  position: relative;
  top: 320px;
  left: 15px;
  font-family: 'Staatliches', cursive;
  font-size: 70px;
}