.searchbar {
    position: relative;
    top: -245px;
    right: -650px;
    height: 30px;
    border-radius: 60px;
    border: 1px solid rgba(91, 130, 145, .5);
    width: 280px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Didact Gothic', sans-serif;
}

.button{
    position: relative;
    top: -295px;
    right: -845px;
    height: 50px;
    width: 70px;
    border-radius: 40px;
    border: 0;
    background-color: #FA4753;
}
.button:hover{
    box-shadow: 0 0 25px 12px rgba(0,0,0, .25);
}