.active {
    padding: 10px;
    margin: 5px;
    background-color: #5B8291;
    border-radius: 10px;
}

.desactive {
    padding: 5px;
    margin: 5px;
    background: none;
    border: none;
    cursor: pointer;
}
