.button{
    top: 50px;
    font-family: 'Staatliches', cursive;
    padding: 20px 60px;
    font-size: 20px;
    border-radius: 20px;
    position: relative;
    border: none;
    color: #ffffff;
    background: #5B8291;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: 3px;
}
.button:hover{
    background-color: #ffffff;
    color: #5B8291;
}

.hometittle {
    margin-bottom: 100px;
    margin-top: 175px;
    font-family: 'Staatliches', cursive;
    font-size: 100px;
    color: #D7415D;
    letter-spacing: 15px;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #D7415D;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #fff,
         0 0 20px #fff,
         0 0 40px #fff,
         0 0 80px #fff,
         0 0 160px #fff,
    }
}

.developed {
    position: absolute;
    left: 60px;
    top: 700px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 70px;
    color: #87e1c7;
}
