.titulo{
    position: relative;
    font-family: 'Bangers', cursive;
    font-size: 70px;
    color: #FFD960;
    left: 80px;
}

.navcontainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 150px;
    margin-top: -20px;
}

.filtergenre {
    position: absolute;
    top: 50px;
    left: 550px;
    font-family: 'Bangers', cursive;
    height: 50px;
    border-radius: 20px;
    font-size: 17px;
    border: none;
}

.orderbyname {
  position: absolute;
  top: 50px;
  left: 750px;
  font-family: 'Bangers', cursive;
  height: 50px;
  border-radius: 20px;
  font-size: 17px;
  width: 150px;
  border: none;
}

.orderbyrating {
    position: absolute;
    top: 50px;
    left: 950px;
    font-family: 'Bangers', cursive;
    height: 50px;
    border-radius: 20px;
    font-size: 17px;
    width: 150px;
    border: none;
}
