.titulo{
    position: relative;
    font-family: 'Bangers', cursive;
    font-size: 50px;
    color: #FFD960;
    left: 80px;
}

.navcontainer {
    display: flex;
    justify-content: flex-start;
}

.filtergenre {
    position: relative;
    top: 50px;
    left: 150px;
}

.orderbyname {
  position: relative;
  top: 50px;
  left: 200px;
}

.orderbyrating {
    position: relative;
    top: 50px;
    left: 250px;
}

.searchbar{
   display: flexbox;
   position: relative;
   top: -85px;
   left: 750px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 20px;
   border: solid 0px;
}

